
  .card{
      border: 0;
  } 
  .card-foot{
      background-color: white;
      border: 0;

  }
  


.backs {
    background-color: #f7f5df;
}
.small-images{
    height: 70px;
}
.large-images{
    width: 80%;
    height: 10%;
}
.bold1{
    font-size: 60px ;
    font-weight: bold;
    
}
.bold2{
    font-weight: bold;
    color: rgb(134, 103, 155);"

}
.cards{
    padding: 10px 50px;
    height: 300px;
    background-color: rgb(248, 240, 240);
    border-radius: 30px;
}



.imgbutton{
    height: 60px;
    width: 60px;
    padding: 5px;
}
.button1{
    background-color: rgb(105, 179, 62);
    color: white;
    border-radius: 10px;
    
    

}
.topone{
    margin-top: 150px;
}




























.buy-me-coler{
    border-color: white;
    margin-left: auto;
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: #79a82d !important;
    border-color: aquamarine !important;
}
.small-card{
    border-radius: 15px;
    padding: 1px 50px;
    background-color: white;
    
}

.imagess{
    max-width: 1px;
}
.decoration{
    text-decoration: none;
}
.logo-image{
    height: 50px;

}




























